#btn{
    background-color: lightblue;
    padding: 20px;
    margin: 40px 50% 20px;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    border: 2px solid lightblue;
    box-shadow: 0 0 0 5px rgba(173, 216, 230, 0.458);
    width: 200px;
}
#Quote{
    text-align: left;
    color:dimgrey;
    padding: 20px;
    margin: 10px 20px;
    font-weight: bold;
    font-size: 24px;
}
#Quote span{
    font-weight: bold;
    font-size: 30px;
    color:dimgrey;

}
#saidBy{
    text-align: end;
    padding: 20px;
    color: lightskyblue;
}